endpoints:
  - id: "EndpointID"
    name: "XXXX"
    user: "OpenstackUserAdminOnDomain" 
    password:  "XXXX"
    domain: "OpenstackDomainID"
    project: "OpenstackProjectInDomainForAdminUser (to get a token)"
    keystone: "Base_URL_for_keystone_API"
    nova: "Base_URL_for_nova_API"
    project_id_default: "DefaultProjectIDIfUniqueProject"
    project_name_default: "DefaultProjectNameIfUniqueProject"
    keypair_default: "DefaultKeypairName (must exists), "
    per_ns_project: true
    user_role: "IDOfUserRole"

users:
  home: "/home/biosphere/%s"  # home location
  ldap:
    host: "localhost"
    port: 3890
    admin_cn: "cn=admin,dc=example,dc=org"
    admin_password: "test"
    dn: "dc=example,dc=org"
    ou: "biosphere" # organizational unit for users, must exists
    gid: 500
    minuid: 1000
    tls: false