users:
  home: "/home/biosphere/%s"  # home location
  ldap:
    host: "localhost"
    port: 3890
    admin_cn: "cn=admin,dc=example,dc=org"
    admin_password: "test"
    dn: "dc=example,dc=org"
    ou: "biosphere" # organizational unit for users, must exists
    gid: 500
    minuid: 1000
    tls: false
  apikey: "123"